{
	"parser": "babel-eslint",
	"plugins": ["react"],
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"env": {
		"browser": true,
		"node": true
	},
	"settings": {
		"react": {
			"pragma": "React",
			"version": "16.6"
		}
	},
	"rules": {
		"semi": 2
	},
	"extends": ["eslint:recommended", "plugin:react/recommended"]
}
